<main>
    <div class="container center-align">
        <div class="burger-photo-section">
            <img src="assets/img/burger-stock.jpg" alt="Huge Burger" class="circle" id="huge-burger">
        </div>
        <h1>Eat Da Burger!</h1>
    </div>
</main>

